version: 2.1

jobs:
  build:
    docker:
        - image: cimg/node:13.8.0
    steps:
      - checkout
      - run: npm i
      - run: npm run lint

  # test:
  #   docker:
  #       - image: cimg/node:13.8.0
  #   steps:
  #     - checkout
  #     - run: npm i
  #     - run: npm run test
  
  create_infrastructure:
    docker:
        - image: amazon/aws-cli
    steps:
      - checkout
      - run: 
          name: Create Cloudformation Stack
          command: |
            aws cloudformation deploy \
              --template-file template.yml \
              --stack-name myStack-${CIRCLE_WORKFLOW_ID:0:5} \
              --region $AWS_DEFAULT_REGION
  # Exercise: Config and Deployment
  configure_infrastructure: 
    docker:
      - image: python:3.7-alpine3.11
    steps:
      - checkout
      - add_ssh_keys:
              # You can get this ID in the section where you registered the SSH Key
              fingerprints: ["c9:22:fc:44:02:94:9b:00:fc:82:f1:26:39:2a:54:b5"] 
      - run:
          name: Install Ansible
          command: |
            apk add --update ansible
      - run:
          name: Run Playbook and Configure server
          command: |
            ansible-playbook -i inventory.txt playbook.yml

workflows:
  myworkflow:
    jobs:
      - build
      - create_infrastructure:
          requires: [build]
      - configure_infrastructure:
          requires: [create_infrastructure]

